<h1>Directors</h1>
<%= link_to 'Create Director', '/directors/new' %>
<% @directors.each do |director| %>
  <h4><%= "#{director.firstname} #{director.lastname}" %></h4>
  <p><%= "Created at: #{director.created_at}" %>
<% end %>