<h1>Directors Index</h1>
<h3><%= link_to 'Create Director', '/directors/new' %></h3>
<hr>
<% @directors.each do |director| %>
  <h4><%= link_to "#{director.firstname} #{director.lastname}", "/directors/#{director.id}" %></h4>
  <%= link_to "Edit", "/directors/#{director.id}/edit" %>
  <p><%= "Created at: #{director.created_at}" %>
<% end %>